<app-navbar></app-navbar>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg height : 900px">
  <table class="w-full h-16 text-sm text-left rtl:text-right text-gray-500 ">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700">
    <tr>
      <th scope="col" class="px-6 py-3">
        Reference
      </th>
      <th scope="col" class="px-6 py-3">
        Amount
      </th>
      <th scope="col" class="px-6 py-3">
        Date
      </th>
      <th scope="col" class="px-6 py-3">
        Status
      </th>
      <th scope="col" class="px-6 py-3">
        Shipping
      </th>
      <th scope="col" class="px-6 py-3">
        Shipping failed
      </th>
    </tr>
    </thead>
    <tbody>
      @for (order of orders; track order.orderId) {
        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b">
          <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
            {{ order.reference }}
          </th>

          <td class="px-6 py-4">
            ${{ order.totalAmount }}
          </td>
          <td class="px-6 py-4">
            {{ order.orderDate }}
          </td>
          <td class="px-6 py-4">
            {{ order.status }}
          </td>
          <td class="px-6 py-4">
            <button type="button" (click)="onShipping(order)"
                    class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
              <svg width="24" height="24" stroke-width="1.5" viewBox="0 0 24 24" fill="none"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M8 19C9.10457 19 10 18.1046 10 17C10 15.8954 9.10457 15 8 15C6.89543 15 6 15.8954 6 17C6 18.1046 6.89543 19 8 19Z"
                  stroke="currentColor" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M18 19C19.1046 19 20 18.1046 20 17C20 15.8954 19.1046 15 18 15C16.8954 15 16 15.8954 16 17C16 18.1046 16.8954 19 18 19Z"
                  stroke="currentColor" stroke-miterlimit="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M10.05 17H15V6.6C15 6.26863 14.7314 6 14.4 6H1" stroke="currentColor" stroke-linecap="round"/>
                <path d="M5.65 17H3.6C3.26863 17 3 16.7314 3 16.4V11.5" stroke="currentColor" stroke-linecap="round"/>
                <path d="M2 9L6 9" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
                <path
                  d="M15 9H20.6101C20.8472 9 21.0621 9.13964 21.1584 9.35632L22.9483 13.3836C22.9824 13.4604 23 13.5434 23 13.6273V16.4C23 16.7314 22.7314 17 22.4 17H20.5"
                  stroke="currentColor" stroke-linecap="round"/>
                <path d="M15 17H16" stroke="currentColor" stroke-linecap="round"/>
              </svg>
              <span class="sr-only">Icon description</span>
            </button>
          </td>
          <td class="px-6 py-4">
            <button type="button" (click)="onShippingFailed(order)"
                    class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
              <svg fill="none" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" fill="#fd5154" r="10"/><path clip-rule="evenodd" d="m8.44461 9.17169c-.19588-.19464-.19689-.51122-.00224-.7071.19464-.19588.51122-.19689.7071-.00225l2.85073 2.83266 2.8502-2.83217c.1959-.19464.5125-.19363.7071.00225.1947.19588.1937.51246-.0022.7071l-2.8457 2.82772 2.8457 2.8277c.1959.1947.1969.5112.0023.7071-.1947.1959-.5113.1969-.7071.0023l-2.8503-2.8323-2.85077 2.8328c-.19589.1946-.51247.1936-.70711-.0023s-.19363-.5125.00225-.7071l2.84623-2.8282z" fill="#fff" fill-rule="evenodd"/></svg>
              <span class="sr-only">Icon description</span>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>


</div>



